.login-bg{
    background-image: url('https://st.depositphotos.com/54299584/53347/i/450/depositphotos_533474920-stock-photo-cheerful-woman-multicolored-packs-emotions.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#bglogin{
    background-image: url('https://img.freepik.com/premium-photo/abstract-light-blue-background_53876-143877.jpg');
    background-size: cover;
}