.notfound{
              height: 100vh;
              width: 100%;
              background-image: url('https://static.vecteezy.com/system/resources/previews/000/362/681/original/vector-website-error-404-page-not-found.jpg');
              background-position: center;
              background-size: cover;
              
          }