<div class="d-flex align-items-center justify-content-center ">
              <div class="flex-column">
                  <img src="https://img.freepik.com/premium-vector/woman-run-with-shopping-cart-card-credit-card-inside-shopping-concept-vector-illustration_77116-2036.jpg" alt="...." style="width: 500px;height: 400px;" class="mt-5">
                  <h4 class="text-center" style="color: blueviolet;">Your Cart Is Empty</h4>
              </div>
          </div>
          <h4 style="color: blueviolet;" class="text-center mt-5 ">Cart Summary</h4>
          <div class="text-center mt-4 d-flex" style="width: 900px;margin-left: 200px;">
              <table class="Card shadow table table-bordered  p-4">
                  <thead>
                     <tr>
                          
                          <th>#</th>
                          <th>Product Name</th>
                          <th>Image</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>Shirt</td>
                          <td><img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F24%2Fc0%2F24c00cb755dcacc8c1c4e82b5706488fe0918857.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5Bmen_newarrivals_clothes%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" alt="..." style="width: 100px; height: 80px;"></td>
                          <td>3</td>
                          <td>₹500</td>
                          <td><button class="btn btn-outline-danger"><i class="fa-solid fa-trash text-danger"></i></button></td>
                      </tr>
                  </tbody>
              </table>
              <div class="Card shadow ms-4" style="width: 500px;margin-left: 200px;height: 140px;">
                  <h3 class="mt-4">Grand Total:₹500</h3>
                  <button class="btn btn-success">CheckOut</button>
              </div>
          </div>