.reg-bg{
    background-image: url('https://img.freepik.com/free-photo/studio-shot-pretty-black-woman-with-white-shopping-bag-standing-yellow-background-trendy-spring-fashionable-look_273443-10.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705881600&semt=ais');
    background-repeat: no-repeat;
    background-size: cover;
}
#bglogin{
    background-image: url('https://img.freepik.com/premium-photo/abstract-light-blue-background_53876-143877.jpg');
    background-size: cover;
}